img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

aside {
  width: 500px;  
  background-color: white;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 10px 60px;
  margin: 10px 20px;
  /* position: fixed;  */
}

 @media (max-width: 1000px){
  aside{
    position: relative;
  }
} 

aside strong{ 
  font-size: 20px;
  text-align: center;
  display: block;
  color: #1d388a;
}

aside form{ 
  margin-top: 20px;
}

aside form .input-block label {
  color: #1d388a;
  font-size: 16px;
  font-weight: bold;
  display: block;
  }

  aside form .input-block input, select{ 
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #1d388a;
    border: 0;
    border-bottom: 1px solid #eb7900;
    margin-bottom: 10px;
  }



  aside form button[type=submit]{ 
    width: 100%;
    border: 0;
    margin: 10px 0px;
    background-color: #1d388a;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }